$c-body-light: #333;
$c-base-light: #fff;
$c-body-dark: #fff;
$c-base-dark: #333;

$c-accent: #6fc173;

/* デフォルトはダークモード表示 */
body {
	margin: 0;
	padding: 1em 2em;

	transition-duration: 0.5s;
	transition-property: color, background-color;
	color: $c-body-dark;
	background-color: $c-base-dark;
	&.is_light {
		color: $c-body-light;
		background-color: $c-base-light;
	}
}

/*↑一応デバイスのテーマで切り替えられるように設定↓*/
@media (prefers-color-scheme: light) {
	body {
		color: $c-body-light;
		background-color: $c-base-light;
	}
}

.c-timeline {
	list-style: none;
	&__list {
		margin-bottom: 60px;
	}
	/* for Desktop */
	@media (min-width: 640px) {
		&__list {
			overflow: hidden;
			margin: 0;
			position: relative;
		}
		&__date {
			width: 110px;
			float: left;
			margin-top: 20px;
		}
		&__content {
			width: 75%;
			float: left;
			border-left: 3px #e5e5d1 solid;
			padding-left: 30px;
			&:before {
				content: "";
				width: 12px;
				height: 12px;
				background: $c-accent;
				position: absolute;
				left: 106px;
				top: 24px;
				border-radius: 100%;
			}
		}
	}
}

.c-timeline1 {
	margin-left: 14px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: -2px;
		top: 10px;
		bottom: 0;
		width: 2px;
		background: #999;
	}

	&__list {
		display: block;
		position: relative;
		padding-left: 24px;
		+ li {
			margin-top: 32px;
		}
		&:last-of-type:before {
			content: "";
			position: absolute;
			left: -2px;
			width: 2px;
			height: 100%;
			background: $c-base-dark;
		}
	}

	&__dot {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 4px solid #333;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		top: 2px;
		left: -9px;
		background-color: #999;
	}
	&__time {
	}
	&__content {
		// padding: 8px 0;
		h3 {
			// font-size: 18px;
			font-weight: bold;
			margin: 8px 0 8px;
		}
	}
}

/* モード切り替えボタン */
.c-switch-mode {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	font-size: 60px;
	&__label {
		cursor: pointer;
	}
	&__input {
		display: none;
	}
	&__mode {
		position: absolute;
		top: -120px;
		right: -120px;
		display: block;
		width: 200px;
		height: 200px;
		transform: rotate(0);
		transition: transform 1s;
		&::before {
			content: "🌙";
			position: absolute;
			left: 0;
			bottom: 0;
		}
		&::after {
			content: "🌼";
			position: absolute;
			right: 0;
			top: 0;
			transform: scale(1, -1);
		}
	}
}
