/* footer
────────────────────────────── */
.l-footer {
	font-size: 1.4rem;
	text-align: center;
	padding: 20px 20px;
	background-color: #202225;
	border-top: 1px solid rgba($color: #efefef, $alpha: 0.2);
}
