/* block
────────────────────────────── */

.c-block-flex {
	display: flex;
	align-items: center;
	gap: 32px;
}

.c-block-lists {
	&__list {
		position: relative;
		padding-left: 24px;
		&:before {
			content: "※";
			position: absolute;
			left: 0;
			content: "\e876";
			font-family: "Material Icons";
			font-weight: 900;
		}
		& + li {
			margin-top: 8px;
		}
	}
}
